*{ 
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
    /* box-sizing: border-box; */
}
html{
    scroll-behavior: smooth;
}

body{
    background: #ffffff ;
    color: rgb(255, 255, 255);
}
#header{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url(images/Background.png);
    background-size: cover;
    background-position: center;
}
#header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}
.container{
    padding: 10px 10%;
}

nav{ 
    position: relative;
    z-index: 1;  /* Add this line */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: #f44336;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.nav ul li a:hover::after {
    width: 100%;
}
.title{
    position: absolute;
    top: -120px;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    color: #ffffff;
    z-index: 1;
}

.subtitle{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: #ffffff;
    z-index: 1;
}
.tab a {
    position: absolute;  /* Add this line */
    top: 65%;  /* Add this line */
    left: 50%;  /* Add this line */
    transform: translate(-50%, -50%);  /* Add this line */
    z-index: 2;  /* Increase this value */
    display: inline-block;
    padding: 10px 20px;
    background-color: #d83030;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 20px;
    transition: background-color 0.3s ease; /* Add transition for smooth color change */
}
.tab a:hover {
    background-color: #008000; /* Change color to green when hovered */
}
#Projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(1, 20, 15);
  }
  

.video-container {
    position: relative;
    padding-bottom: 50%; /* 16:9 aspect ratio (divides height by width) */
    width: 70%; /* Adjust the width as needed */
    order: 2;
}
  
.video-description {
    text-align: center;
    margin-top: 150px;
    margin-left: 40px;
    margin-right: 40px;
    
}

.video-description h2 {
    font-size: 35px;
    color: #ffffff;
}

.video-description p {
    font-size: 16px;
    color: #ffffff;
}
.centered-video {
    position: absolute; 
    top: 0px;
    width: 100%;
    height: 90%;
}
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
    height: 110vh;
    background-color: rgb(1, 20, 15);
}

.info-box {
    background-color: #f0f0f06b;
    padding: 20px;
    border-radius: 10px;
    margin-left: 500px;
    margin-right: 500px;
}
.centered-text{
    text-align: center;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
    
}
.centered-text h3 {
    font-size: 35px;
    color: #ffffff;
}


.contact-container {
    max-width: 960px;
    max-width: 960px;
    margin-top: 220px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
    background-color: #d545450f;
} 


.row {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact-left{
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.sub-title {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 20px;
}

.contact-left p {
    margin-top: 20px;
    font-size: 18px;
    color: #ffffff;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #e42828;
    font-size: 20px;
}

.contact-right form {
    margin-top: 20px;
}

.contact-right input,
.contact-right textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

.contact-right textarea {
    height: 120px;
}

.contact-right button {
    background-color: #c71c1c;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.contact-right button:hover {
    background-color: #008000;
}
nav .fas{
    display: none;
}
/* small screen  */
@media only screen and (max-width: 600px){
    #header{
        background-image:url(images/Back.png) ;
    }
    .title{
        margin-top: 100%;
        font-size: 16px;
    }
    .subtitle{
        font-size: 30px;

    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    #sidemenu{
        background:rgb(253, 0, 0);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 999;
        transition: all 0.3s ease-out;
    }
    #sidemenu li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
}
.opened {
    right: 0 !important;
}
.closed {
    right: -200px !important;
}

  
  
  
  
  